---
- name: Build, Push, and Run Docker Image
  hosts: docker_host
  gather_facts: false

  tasks:
    - name: Debugging a variable
      ansible.builtin.debug:
        var: full_image_name
    - name: Debug the playbook directory
      ansible.builtin.debug:
        msg: "The playbook is located in: {{ playbook_dir }}" 
    - name: Debug the current working directory
      ansible.builtin.debug:
        msg: "You executed the playbook from: {{ lookup('env', 'PWD') }}"         

    - name: Log in to Docker Hub
      docker_login:
        username: "{{ docker_user }}"
        password: "{{ lookup('env', 'DOCKER_PASSWORD') }}"

    #- name: build docker image
    #  ansible.builtin.command:
    #    cmd: docker build -t {{ full_image_name }} .
    #    chdir: "{{ playbook_dir }}/../.."

    - name: Build the application image
      docker_image:
        name: "{{ full_image_name }}"
        build:
          path: "{{ playbook_dir }}/../.."
          dockerfile: Dockerfile
        source: build
        state: present
        push: false

    - name: Stop the old container if it exists
      docker_container:
        name: "{{ container_name }}"
        state: stopped
      ignore_errors: true # Ignore error if container doesn't exist yet

    - name: Remove the old container
      docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run the new container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ full_image_name }}"
        state: started
        restart_policy: always
        ports:
          - "{{ container_port_mapping }}"
