---
- name: Build, Push, and Run Docker Image
  hosts: docker_host
  gather_facts: false

  tasks:
    - name: Debugging a variable
      ansible.builtin.debug:
        var: image_name

    - name: Log in to Docker Hub
      docker_login:
        username: "{{ docker_user }}"
        password: "{{ lookup('env', 'DOCKER_PASSWORD') }}"

    - name: Build the application image and push it to Docker Hub
      docker_image:
        name: "{{ full_image_name }}"
        build:
          path: .
        source: build
        state: present
        push: true

    - name: Stop the old container if it exists
      docker_container:
        name: "{{ container_name }}"
        state: stopped
      ignore_errors: true # Ignore error if container doesn't exist yet

    - name: Remove the old container
      docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run the new container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ full_image_name }}"
        state: started
        restart_policy: always
        ports:
          - "{{ container_port_mapping }}"
